[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
    helper = osxkeychain
[github]
    user = mzgubic
[core]
    excludesfile = /Users/mzgubic/.gitignore
    hooksPath = /Users/mzgubic/.config/git/hooks
